.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: scroll;
  z-index: 2;
  &::before {
    content: "";
    padding: 40px;
  }
  &::after {
    content: "";
    padding: 40px;
  }   
}

.modal {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 90px;
  width: 768px;
  color: #fff;
  background-color: #232323;
  border-radius: 5px;
  div:global(.error) {
    color: #f65261;
    font-weight: 900;
  }
}

.h2 {
  margin-bottom: 40px;
  width: 100%;
  font-size: 4rem;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

.label {
  padding: 15px 0;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 600;
  color: #f65261;
  text-transform: uppercase;
}

.input {
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  height: 60px;
  font-size: 2rem;
  color: #fff;
  background-color: #424242;
  border: 0;
  border-radius: 5px;
  ::placeholder {
    color: #555;
  }
}

.selector {
  position: relative;
  .input {
    caret-color: transparent;
    outline: none;
    cursor: pointer;
  }
  &::after {
    content: "";
    position: absolute;
    top: 70px;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #f65261 transparent transparent transparent;
    cursor: pointer;
  }
}

.optionList {
  position: absolute;
  top: 109px;
  list-style: none;
  width: 100%;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  li {
    padding: 10px;
    background-color: #232323;
    width: 100%;
  }
  label {
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
    text-transform: none;
  }
  input {
    margin-right: 10px;
  }
}

.paragraph {
  width: 100%;
  font-size: 2rem;
  color: #fff;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  &::after {
    content: "\00d7";
    font-size: 6rem;
    line-height: 40px;
    color: #fff;
  }
}

.submitBtn,
.resetBtn {
  margin: 25px 0 0 10px;
  width: 170px;
  height: 56px;
  font-size: 2rem;
  font-weight: 500;
  border: 1px solid #f65261;
  border-radius: 5px;
}

.resetBtn {
  color: #f65261;
}

.submitBtn {
  color: #fff;
  background-color: #f65261;
}
