.search {
  padding: 30px 60px;
  &Wrapper {
    display: flex;
    justify-content: space-between;
  }
  &Field{
    padding: 20px;
    width: calc(100% - 250px);
    height: 60px;
    font-size: 2rem;
    color: #fff;    
    background-color: rgba(35, 35, 35, 0.8);
    border: 0;
    border-radius: 5px;
    ::placeholder {
      color: #555;
    }
  }
}

.h2 {
  margin-bottom: 40px;
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}

.btn {
  width: 240px;
  height: 60px;
  font-size: 2rem;
  color: #fff;
  background-color: #f65261;
}
